Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.env
.env.local
.env.production.local
.env.local
.git
.gitignore
.next
.vercel
coverage
.nyc_output
.DS_Store
*.tgz
my-app*
template
template-*
*.md
frontend/node_modules
frontend/.next
frontend/coverage
frontend/.nyc_output
server/node_modules
server/uploads
uploads
build
dist
*.log

